.page-header
  %h1 Results

%table.table.table-hover.table-condensed.table-bordered
  %thead
    %tr
      %th project_code
      %th SOURCE_NAME
      %th RA
      %th DEC
      %th BAND
      %th Integration
      %th RELEASE_DATE
      %th vel_resolution
  %tbody
    %tr
      %td 2011.0.00510.S
      %td Boomerang Nebula
      %td 12:44:43.19
      %td -54:31:22.3
      %td 3 
      %td 2079.093
      %td 2013-03-13 18:13:00.0
      %td 1360.121125508762
    %tr
      %td 2011.0.00510.S
      %td Boomerang Nebula
      %td 12:44:43.19
      %td -54:31:22.3
      %td 3 
      %td 2079.093
      %td 2013-03-13 18:13:00.0
      %td 1360.121125508762
    %tr
      %td 2011.0.00510.S
      %td Boomerang Nebula
      %td 12:44:43.19
      %td -54:31:22.3
      %td 3 
      %td 2079.093
      %td 2013-03-13 18:13:00.0
      %td 1360.121125508762
    %tr
      %td 2011.0.00510.S
      %td Boomerang Nebula
      %td 12:44:43.19
      %td -54:31:22.3
      %td 3 
      %td 2079.093
      %td 2013-03-13 18:13:00.0
      %td 1360.121125508762
    %tr
      %td 2011.0.00510.S
      %td Boomerang Nebula
      %td 12:44:43.19
      %td -54:31:22.3
      %td 3 
      %td 2079.093
      %td 2013-03-13 18:13:00.0
      %td 1360.121125508762
    %tr
      %td 2011.0.00510.S
      %td Boomerang Nebula
      %td 12:44:43.19
      %td -54:31:22.3
      %td 3 
      %td 2079.093
      %td 2013-03-13 18:13:00.0
      %td 1360.121125508762
    %tr
      %td 2011.0.00510.S
      %td Boomerang Nebula
      %td 12:44:43.19
      %td -54:31:22.3
      %td 3 
      %td 2079.093
      %td 2013-03-13 18:13:00.0
      %td 1360.121125508762