.row
  .span12
    .page-header
      %h1 Query form

    / Navbar
    %ul.nav.nav-tabs
      %li
        %a{:href => "#simplequery", "data-toggle" => "tab"}Simple Query
      %li
        %a{:href => "#advancequery", "data-toggle" => "tab"}Advance Query


/ Navbar content
.tab-content
  #simplequery.tab-pane.fade.active.in
    = render(:partial => "simplequery")
  #advancequery.tab-pane.fade
    = render(:partial => "advancequery")
  .row
    .span12
      #results
